@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

p, li, a, button {
  font-family: 'Nunito', sans-serif;
}

/* styles/globals.css */
.bar {
  font-family: 'Nunito', sans-serif;
  font-weight: 400; /* Normal weight, adjust as needed */
}